*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:black;
  color:white;
  font-family:Arial,sans-serif;
}

/* TIMELINE */

.timeline{
  width:100%;
  min-height:200vh;

  padding:50px 0;

  display:flex;
  flex-direction:column;
  align-items:center;
  gap:80px;
}

.photo{
  width:220px;
}

.photo img{
  width:100%;

  border-radius:20px;

  filter:grayscale(100%);

  border:3px solid white;

  transition:.4s;
}

/* FINAL */

.final-section{
  margin-top:200px;

  display:flex;
  flex-direction:column;
  align-items:center;

  gap:20px;
}

.final-photo{
  width:220px;

  border-radius:20px;

  filter:grayscale(100%);

  border:3px solid white;

  opacity:.5;

  transition:.4s;
}

.hearts{
  display:flex;
  gap:20px;

  font-size:50px;
}

/* GAME */

.game-body{
  width:100vw;
  height:100vh;

  overflow:hidden;

  position:relative;

  background:black;
}

#gameContainer{
  width:100%;
  height:100%;
  position:relative;
}

#backLink{
  position:absolute;

  top:50%;
  left:50%;

  transform:translate(-50%,-50%);

  color:white;

  font-size:32px;

  text-decoration:none;

  display:none;

  z-index:999;
}

/* FASE 1 */

.phase1-heart{
  position:absolute;

  font-size:70px;

  touch-action:none;
}

/* FASE 2 */

.big-heart{
  position:absolute;

  left:50%;
  top:50%;

  transform:translate(-50%,-50%);

  font-size:140px;
}

.small-heart{
  position:absolute;

  font-size:40px;

  touch-action:none;
}

/* FASE 3 */

.player-heart{
  position:absolute;

  bottom:100px;
  left:50%;

  font-size:70px;

  touch-action:none;
}

.obstacle{
  position:absolute;

  font-size:50px;
}

.needle{
  position:absolute;

  font-size:40px;

  filter:drop-shadow(0 0 10px cyan);
}
